body{
    text-align: center;
    font-family: Arial, sans-serif;
}

.counter-container {
    margin-top: 50px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

